<h2>Países</h2>
<hr>

<ul class="list-group btn-group">
  <li 
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item"
    type="button"
  >
    Por capital
  </li>
  <li 
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item"
    type="button"
  >
    Por país
  </li>
  <li 
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item"
    type="button"
  >
    Por región
  </li>
</ul>